.navigation-menu{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.navigation-menu li {
    margin: 0px 20px;
    
}

.navigation-menu li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.navigation-menu li a:hover{
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff2693, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.drawer-navigation{
    list-style: none;
}

.drawer-navigation li{
    margin-top: 20px;
}

.drawer-navigation li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    
}

