.home{
    height: 100vh;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    flex-wrap: nowrap;
}


.headerContainer{
    
    width: 65%;
    height: 80%;
    margin-left: 40px;
}

.home .headerContainer{
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 70px;
    color: #f01c64;
    font-family: 'Roboto', sans-serif;;
}

.type {
  display:inline-flex;
}
.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  overflow: hidden;
  animation:t 2s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}
@keyframes t{
  90%,100% {width:100%}
}

.home .headerContainer p{

    margin-top: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.home .headerContainer button{
    color: black;
    background-color: grey;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
}


.home .headerContainer button:hover{
    background-color: #f01c64;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media only screen and (max-width:600px){
    .home{
        align-items: left;
    }
    .headerContainer{
        margin-left: 0;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: left;
        flex-direction: column;
        /* background-color: grey; */
        color: black;
        flex-wrap: nowrap;
    }

    .home .headerContainer h1{
        font-size: 40px;
        height: 30px;
        margin: 15px 0px;
    }
    .home .headerContainer p{
        font-size: 29px;
        color: white;
    }
    .headerContainer button{
        background-color: grey;
        color: black;
        margin-bottom: 20px;
    }
}