.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: row-reverse;
    /* position: absolute; */
    flex-wrap: nowrap;
}

.home .slaylogo img{
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 400px;
}


.headerContainer{
    
    width: 65%;
    height: 80%;
    margin-left: -160px;
}

.home .headerContainer{
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 100px;
    color: #0fcf02;
    font-family: 'VT323', monospace;
}

.type {
  display:inline-flex;
}
.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  overflow: hidden;
  animation:t 2s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}
@keyframes t{
  90%,100% {width:100%}
}

.home .headerContainer p{

    margin-top: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-family: 'VT323', monospace;
}

.home .headerContainer button{
    color: black;
    background-color: grey;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
}

.home .headerContainer button:hover{
    background-color: #f01c64;
    cursor: pointer;
    transition: 0.3s ease-in;
    box-shadow: 0 0 10px #f01c64, 0 0 40px #f01c64;
}

@media only screen and (max-width:800px){
    .home .slaylogo img{
        display: flex;
        position: relative;
        margin-top: 100px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 300px;
        width: 300px;
    }

    .home{
        align-items: left;
    }
    .headerContainer{
        /* margin-left: -160px; */
        /* border-radius: 10px; */
        width: 80%;
        display: flex;
        align-items: left;
        flex-direction: column;
        /* background-color: grey; */
        color: black;
        flex-wrap: nowrap;
    }

    .home .headerContainer span{
        display: flex;
        font-size: 25px;
        height: 30px;
    }
    .home .headerContainer p{
        margin-top: 20px;
        font-size: 23px;
        color: white;
    }
    .headerContainer button{
        background-color: grey;
        color: black;
        margin-bottom: 20px;
    }
}

